/* FUNDAMENTALS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
}

body {
    scroll-behavior: smooth;
    font-style: normal;
    line-height: 1.65;
}

a {
    text-decoration: none;
    color: black;
}

:root {
    --accent: #5cb720;
}

/* END OF FUNDAMENTALS */



/* NAV BAR */
nav {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 100vh;
    z-index: 2;
    background-color: #5CB720;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    transition: all 0.3s ease;
}

.burger {
    display: block;
    height: 100px;
    width: 400px;
    position: relative;
    cursor: pointer;
}

.menu {
    position: absolute;
    color: #fff;
    font-weight: 600;
    top: 25px;
    margin-left: 15px;
}

.burger .line1,
.burger .line2,
.burger .line3 {
    width: 40px;
    height: 6px;
    background-color: #fff;
    border-radius: 1px;
    margin-top: 5px;
    margin-left: 15px;
}

.nav-active .burger .line1,
.nav-active .burger .line2,
.nav-active .burger .line3 {
    width: 40px;
    height: 6px;
    background-color: #fff;
    border-radius: 1px;
    margin-top: 1px;
}

.nav-active .menu {
    position: absolute;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s ease;
    top: 20px;
    margin-left: 15px;
}

body {
    overflow-x: hidden;
}

.nav-links {
    position: absolute;
    left: -400px;
    height: 100vh;
    top: 17vh;
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 100%;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    font-size: 0.875rem;
    list-style: none;
}

.nav-links li {
    opacity: 0;
    width: 100%;
    transition: 0.2s;
    text-align: left;
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif, arial;
    position: relative;
    top: -15px;
}

.nav-links li:hover {
    border-bottom: none;
}

.nav-links a {
    color: #fff;
    width: 100%;
    display: none;
    margin-left: 5%;
    margin-top: 30px;
    padding-bottom: 20px;
}

.nav-active {
    transform: translateX(0%);
    background-color: #303030;
    color: #fff;
    width: 400px;
}

.nav-active a {
    display: block;
}

.nav-active li:hover {
    background: rgba(219, 216, 216, 0.15);
}

.nav-links li:hover a {
    color: #303030;
    font-weight: 700;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* END OF NAV BAR */




/* HERO SECTION */
#hero {
    height: 100vh;
    width: 100%;
}

.logo-line {
    height: 170px;
    width: 100%;
    z-index: 2;
    position: absolute;
}

.logo-line img {
    width: 110px;
    margin: 20px 0 0 20px;
}

.herovid video {
    height: 100%;
    min-width: 100%;
    position: absolute;
    left: -2%;
}

.hero-title {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    margin-top: 80px;
}

.hero-title img {
    width: 600px;
    height: 600px;
}

.hero-btn {
    height: 60px;
    width: 470px;
    position: relative;
    margin: 0 auto;
    top: 650px;
}

.hero-button {
    height: 60px;
    width: 470px;
    border-radius: 30px;
    background-color: #5CB720;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 10px;
    cursor: pointer;
}

.hero-button:hover {
    font-weight: 600;
    background-color: #458a18;
}

/* END OF HERO SECTION */


/* PRODUCT DRAWING SECTION */
#product-drawings {
    height: 110vh;
    width: 100%;
}

.product-drawings-header {
    height: 300px;
    width: 600px;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: -10px;
    position: relative;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif, arial;
    font-size: 2rem;
    color: #000;
    line-height: 1;
}

.product-container {
    height: 50vh;
    width: 80%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    position: relative;
    top: -150px;
    right: 2%;
}

.prod1 {
    grid-column: 1/1;
    grid-row: 1/1;
    text-align: center;
}

.prod2 {
    grid-column: 2/2;
    grid-row: 1/1;
    text-align: center;
}

.prod3 {
    grid-column: 3/3;
    grid-row: 1/1;
    text-align: center;
}

.product-text {
    height: 30vh;
    width: 80%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    position: relative;
    top: -100px;
    font-family: 'Quicksand', sans-serif;
    right: 2%;
}

.product-text p {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.product-text a {
    display: block;
    color: #5CB720;
    cursor: pointer;
}

.product-text a:hover {
    color: #458a18;
    text-decoration: underline;
}

/* END OF PRODUCT DRAWING SECTION */



/* MANUAL SECTION */
#manual-section {
    height: 90vh;
    width: 100%;
    background-color: #fafafa;
}

.model-textbox {
    float: left;
    height: 100%;
    width: 40%;
}

.model-text {
    height: 30%;
    width: 70%;
    margin: 200px auto 0 auto;
}

.model-text h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 30px;
}

.model-text p {
    text-align: justify;
}

.manual-btn {
    height: 60px;
    width: 300px;
    margin: 50px auto 0 auto;
}

.manual-button {
    height: 60px;
    width: 300px;
    border-radius: 30px;
    background-color: #5CB720;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 10px;
    cursor: pointer;
}

.manual-button:hover {
    font-weight: 600;
    background-color: #458a18;
}

.model-pic {
    float: left;
    height: 100%;
    width: 60%;
    position: relative;
}

.model-pic img {
    width: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
}

/* END OF MANUAL SECTION */




/* CASE SECTION */
#cases {
    height: 95vh;
    width: 100%;
    background-color: rgb(49, 51, 49);

}

.cases-container {
    height: 60vh;
    width: 90%;
    margin: auto auto;
    position: relative;
    top: 100px;
    right: 2%;
    display: flex;
    justify-content: space-between;
}

.case {
    height: 100%;
    width: 23%;
    background-color: #fff;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.case-image {
    height: 50%;
    width: 100%;
    background: var(--accent);
    overflow: hidden;
    position: relative;
}

.case-image img {
    width: 110%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.case-text {
    padding: 20px;
}

.case-text  h4 {
    color: var(--accent);
    font-size: 20px;
}

.case-text  h3 {
    font-size: 25px;
    line-height: 1.2;
}

.case-btn-wrapper {
    height: 60px;
    width: 170px;
    position: absolute;
    right: 100px;
    margin-top: 170px;
}

.case-btn-wrapper p {
    width: 80px;
    height: 60px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 13px;
    float: left;
    margin-right: 20px;
}

.case-btn-wrapper img {
    width: 60px;
    float: left;
}
/*
.case-btn {
    width: 30%;
    height: 60px;
    background-color: teal;
    margin-top: 150px;
    margin-right: 8%;
    float: right;
}

.case-btn p {
    width: 100px;
    background-color: pink;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.case-btn img {
    width: 60px;
    background-color: teal;
    margin-left: 200px;
}
/* END OF CASE SECTION */




/* STATEMENT SECTION */
#statements {
    height: 90vh;
    width: 100%;
    background-color: #fff;
}

/* END OF STATEMENT SECTION */




/* CUSTOMERS SECTION */
#customers {
    height: 90vh;
    width: 100%;
    background-color: #fff;
}

/* END OF CUSTOMERS SECTION */


/* INSTAGRAM SECTION */
#instagram-gallery {
    height: 90vh;
    width: 100%;
    background-color: #fff;
}

/* END OF INSTAGRAM SECTION */



/* FOOTER SECTION */
footer {
    height: 90vh;
    width: 100%;
    background-color: #5CB720;
}

/* END OF FOOTER SECTION */


/* STYLEGUIDE */

/* END OF STYLEGUIDE */
