/* FUNDAMENTALS */
* {
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

body {
    scroll-behavior: smooth;
    font-style: normal;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

p {
    line-height: 1.4;
}

:root {
    --accent: #5cb720;
}

section {
    position: relative;
}

/* END OF FUNDAMENTALS */



/* NAV BAR */
nav {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 100vh;
    z-index: 2;
    background-color: #5CB720;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    transition: all 0.3s ease;
}

.burger {
    display: block;
    height: 100px;
    width: 400px;
    position: relative;
    cursor: pointer;
    margin-top: 50px;
}

.burger .line1,
.burger .line2,
.burger .line3 {
    width: 40px;
    height: 6px;
    background-color: #fff;
    border-radius: 1px;
    margin-top: 5px;
    margin-left: 15px;
}

.nav-active .burger .line1,
.nav-active .burger .line2,
.nav-active .burger .line3 {
    width: 40px;
    height: 6px;
    background-color: #fff;
    border-radius: 1px;
    margin-top: 1px;
}

.nav-active .menu {
    position: absolute;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s ease;
    top: 20px;
    margin-left: 15px;
}

body {
    overflow-x: hidden;
}

.nav-links {
    position: absolute;
    left: -400px;
    height: 100vh;
    top: 17vh;
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 100%;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    font-size: 0.875rem;
    list-style: none;
}

.nav-links li {
    opacity: 0;
    width: 100%;
    transition: 0.2s;
    text-align: left;
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif, arial;
    position: relative;
    top: -15px;
    padding-left: 10px;
}

.nav-links li:hover {
    border-bottom: none;
}

.nav-links a {
    color: #fff;
    width: 100%;
    display: none;
    margin-left: 5%;
    margin-top: 30px;
    padding-bottom: 20px;
}

.nav-active {
    transform: translateX(0%);
    background-color: #303030;
    color: #fff;
    width: 400px;
    z-index: 20;
}

.nav-active a {
    display: block;
}

.nav-active li:hover {
    background: rgba(219, 216, 216, 0.15);
}

.nav-links li:hover a {
    color: #303030;
    font-weight: 700;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

@media only screen and (max-width: 550px) {
    nav {
        width: 50px;
        height: 100vh;
    }

    .burger .line1,
    .burger .line2,
    .burger .line3 {
        width: 30px;
        height: 6px;
        background-color: #fff;
        border-radius: 1px;
        margin-top: 5px;
        margin-left: 10px;
    }
}

/* END OF NAV BAR */




/* HERO SECTION */
#hero {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    position: relative;
    overflow-x: hidden;
}

.logo-line {
    height: 170px;
    width: 100%;
    z-index: 2;
    position: absolute;
}

.logo-line img {
    width: 110px;
    margin: 20px 0 0 20px;
}

.herovid video {
    height: 120%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-title {
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 80px;
}

.hero-title img {
    width: 40%;
}

.hero-btn {
    height: 60px;
    width: 320px;
    position: absolute;
    margin: 0 auto;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.hero-button {
    height: 60px;
    width: 320px;
    border-radius: 30px;
    background-color: #5CB720;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 10px;
    cursor: pointer;
}

.hero-button:hover {
    font-weight: 600;
    background-color: #458a18;
}


@media only screen and (max-width: 1250px) {
    .herovid video {
        height: 160%;
        min-width: 130%;
    }

    .hero-button {
        height: inherit;
        width: inherit;
        padding: 10px 20px;
        font-size: 14px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 979px) {
    #hero {
        height: 80vh;
    }

    .hero-title img {
        width: 40%;
    }


}

@media only screen and (max-width: 770px) {
    #hero {
        height: 70vh;
    }

    .hero-title img {
        width: 45%;
        height: inherit;
    }

    .hero-button {
        bottom: 0;
    }
}

@media only screen and (max-width: 620px) {
    #hero {
        height: 65vh;
    }

    .hero-btn {
        height: 40px;
        width: 250px;
    }

    .hero-button {
        height: 40px;
        width: 250px;
        font-size: 12px;
    }

}

@media only screen and (max-width: 560px) {
    #hero {
        height: 65vh;
    }

    .hero-title img {
        width: 60%;
        height: inherit;
    }

    .herovid video {
        height: 150%;
        min-width: 175%;
    }
}

@media only screen and (max-width: 450px) {
    #hero {
        height: 50vh;
    }

    .hero-title img {
        width: 300px;
        height: 300px;
    }

    .hero-btn {
        top: 400px;
    }

    .herovid video {
        height: 50%;
    }
}

@media only screen and (max-width: 400px) {
    #hero {
        height: 45vh;
    }

    .hero-title img {
        width: 250px;
        height: 250px;
    }

    .hero-btn {
        top: 350px;
    }

    .herovid video {
        height: 45%;
    }
}

/* END OF HERO SECTION */


/* PRODUCT DRAWING SECTION */
#product-drawings {
    height: 115vh;
    width: 100%;
}

.product-drawings-header {
    height: 300px;
    width: 600px;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: -10px;
    position: relative;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif, arial;
    font-size: 2rem;
    color: #000;
    line-height: 1;
}

.product-container {
    height: 50vh;
    width: 80%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    position: relative;
    top: -200px;
    right: 2%;
}

.prod1 {
    grid-column: 1/1;
    grid-row: 1/1;
    text-align: center;
}

.prod2 {
    grid-column: 2/2;
    grid-row: 1/1;
    text-align: center;
}

.prod3 {
    grid-column: 3/3;
    grid-row: 1/1;
    text-align: center;
}

.product-text {
    height: 30vh;
    width: 80%;
    margin: 0px auto;
    display: block;
    font-family: 'Quicksand', sans-serif;
    right: 2%;
}

.product-text p {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.product-text a {
    display: block;
    color: #5CB720;
    cursor: pointer;
}

.product-text a:hover {
    color: #458a18;
    text-decoration: underline;
}

@media only screen and (max-width: 979px) {
    #product-drawings {
        height: 65vh;
    }

    .product-drawings-header {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 700px) {
    #product-drawings {
        height: 270vh;
    }

    .product-drawings-header {
        height: 200px;
        width: 340px;
    }

    .product-container {
        display: block;
        margin-top: 150px;
        height: initial;
    }

    .prod1 {
        float: left;
        width: 100%;
        height: initial;
        margin-bottom: 25px;
    }

    .prod1 img {
        width: 50%;
    }

    .prod2 {
        float: left;
        width: 100%;
        height: initial;
        margin-bottom: 25px;
    }

    .prod2 img {
        width: 50%;
    }

    .prod3 {
        float: left;
        width: 100%;
        height: initial;
        margin-bottom: 25px;
    }

    .prod3 img {
        width: 50%;
    }

    .product-text {
        height: inherit;
    }
}


@media only screen and (max-width: 600px) {
    #product-drawings {
        height: 250vh;
    }
}

@media only screen and (max-width: 500px) {
    #product-drawings {
        height: 230vh;
    }
}

/* END OF PRODUCT DRAWING SECTION */



/* MANUAL SECTION */
#manual-section {
    height: 90vh;
    width: 100%;
    background-color: #efefef;
    position: relative;
}

.model-textbox {
    float: left;
    height: 100%;
    width: 40%;
    position: relative;
}


.model-text {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.model-text h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 30px;
}

.model-text p {
    text-align: justify;
}

.manual-btn {
    height: 60px;
    width: 300px;
    margin: 50px auto 0 auto;
}

.manual-button {
    height: 60px;
    width: 300px;
    border-radius: 30px;
    background-color: #5CB720;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 10px;
    cursor: pointer;
}

.manual-button:hover {
    font-weight: 600;
    background-color: #458a18;
}

.model-pic {
    float: left;
    height: 100%;
    width: 60%;
    position: relative;

}

.model-pic img {
    width: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
}

@media only screen and (max-width: 979px) {
    #manual-section {
        height: 100vh;
    }

    .model-textbox {
        width: 100%;
        height: 50%;
        position: absolute;
        top: 50%;
    }

    .model-pic {
        width: 100%;
        height: 50%;
        position: absolute;
        margin-top: 20px;
    }

    .model-pic img {
        width: 40%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 45%;
        left: 50%;
    }

    .manual-button {
        height: 40px;
        width: 250px;
        font-size: 12px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}


@media only screen and (max-width: 768px) {
    .model-pic img {
        width: 60%;
    }
}

/* END OF MANUAL SECTION */




/* CASE SECTION */
#cases {
    height: 100vh;
    width: 100%;
    background-color: rgb(49, 51, 49);

}

.cases-container {
    height: 60vh;
    width: 90%;
    margin: auto auto;
    position: relative;
    top: 100px;
    right: 2%;
    display: flex;
    justify-content: space-between;
}

.case {
    height: 100%;
    width: 23%;
    background-color: #fff;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.case-image {
    height: 50%;
    width: 100%;
    background: var(--accent);
    overflow: hidden;
    position: relative;
}

.case-image img {
    width: 110%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.case-text {
    padding: 20px;
}

.case-text h4 {
    color: var(--accent);
    font-size: 20px;
}

.case-text h3 {
    font-size: 25px;
    line-height: 1.2;
}

.case-btn-wrapper {
    height: 60px;
    width: 170px;
    position: absolute;
    right: 100px;
    margin-top: 170px;
}

.case-btn-wrapper p {
    width: 80px;
    height: 60px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 18px;
    float: left;
    margin-right: 20px;
}

.case-btn-wrapper img {
    width: 60px;
    float: left;
}

@media only screen and (max-width: 979px) {
    #cases {
        height: 150vh;
    }

    .cases-container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .case {
        width: 35%;
        margin-bottom: 20px;
    }

    .case-btn-wrapper {
        height: initial;
        width: initial;
        bottom: 0;
        margin-top: 0;
    }

    .case-btn-wrapper p {
        height: initial;
        padding-top: 0;
        width: 90px;
    }

    .case-btn-wrapper img {
        width: 40px;
        transform: translateY(-25%);
    }
}




@media only screen and (max-width: 979px) {
    #cases {
        height: 250vh;
    }

    .case {
        width: 75%;
        margin-bottom: 50px;
        height: 80%;
    }

    .case-btn-wrapper {
        bottom: 40px;
    }
}


/* END OF CASE SECTION */




/* STATEMENT SECTION */
#statements {
    height: 110vh;
    width: 100%;
}

.statement-img {
    width: 100%;
    float: left;
}

.statement-img img {
    max-width: 100%;
}

.statement-container {
    width: 100%;
    height: 27vh;
    float: left;
    margin-bottom: 60px;
}

.statement-container h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 32px;
}

.statement-container p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    font-size: 1.3em;
    font-family: 'Quicksand', sans-serif;
}

.statement-dude {
    width: 300px;
    margin: 0 auto;
}

.statement-dude img {
    width: 300px;
}

@media only screen and (max-width: 979px) {

    .statement-container {
        height: inherit;
    }

    .statement-dude {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 979px) {

    .statement-container h2 {
        max-width: 75%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .statement-container p {
        font-size: 16px;
    }

    #statements {
        height: 90vh;
    }
}








/* END OF STATEMENT SECTION */




/* CUSTOMERS SECTION */
#customers {
    height: 28vh;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

#customers img {
    width: 95%;
    margin: 0 auto;
}

@media only screen and (max-width: 979px) {
    #customers img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
    }
}

/* END OF CUSTOMERS SECTION */


/* INSTAGRAM SECTION */
#instagram-gallery {
    height: 50vh;
    width: 100%;
}

.ig-gallery {
    width: 88%;
    margin: 50px auto 0 auto;
}

.ig-gallery img {
    max-width: 95%;
    margin: 0 auto;
}

.ig-btn {
    width: 230px;
    margin: 40px auto;
}

.ig-btn img {
    max-width: 180px;
    margin: 0 auto;
}

@media only screen and (max-width: 979px) {
    #instagram-gallery {
        height: inherit;
    }

    .ig-gallery {
        height: 150px;
        position: relative;
    }

    .ig-gallery img {
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* END OF INSTAGRAM SECTION */



/* FOOTER SECTION */
footer {
    height: 50vh;
    width: 100%;
    background-color: #5CB720;
}

.footer-img img {
    width: 100%;
}

/* END OF FOOTER SECTION */








/* Manual Subpage starts here */

video {
    width: 100%;
}

#POI-video-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
}


/* Point Of Interest */
.POI {
    height: 20px;
    width: 20px;
    border: 3px solid var(--accent);
    position: absolute;
    border-radius: 20px;
    transition: .2s;
    box-shadow: 0 0 10px var(--accent);
    cursor: pointer;
    background: rgba(255, 255, 255, 1);
    z-index: 15;
}

.POI:hover {
    background: var(--accent);
}

.POI:hover p {
    color: #FFF;
}

.POI p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: var(--accent);
    transition: .2s;
    font-weight: bold;
}

.POI.one {
    left: 70%;
    top: 46%;
}

.POI.two {
    left: 72%;
    top: 54%;
}

.POI.three {
    left: 60%;
    top: 41%;
}

.POI.four {
    left: 70%;
    top: 76%;
}

.POI.five {
    left: 46%;
    top: 56%;
}

.POI.hidden {
    opacity: 0;
}

.POI.faq {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    right: 110px;
    bottom: 40px;
}

#POI-video-container video {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#infobox {
    position: absolute;
    width: 30vw;
    opacity: 0;
    transition: 0.5s ease-in-out;
    background: #FFF;
    height: calc(100vh - 150px);
    padding: 75px;
    overflow-y: scroll;
    transform: translateX(-50vw);
}

#infobox.active {
    opacity: 1;
    transform: translateX(0);
}

#infobox span {
    font-family: 'Inconsolata', monospace;
    color: var(--accent);
    font-size: 30px;
}

#infobox h2 {
    margin-bottom: 25px;
}

#infobox p {
    color: #414141;
    font-size: 14px;
    line-height: 23px;
}

#infobox .cross {
    height: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

#infobox::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

#infobox::-webkit-scrollbar-track {
    background: #e6e6e6;
    /* color of the tracking area */
}

#infobox::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #e6e6e6;
    /* creates padding around scroll thumb */
}

.alert-box {
    background: #e6e6e6;
    padding: 10px;
    padding-bottom: 10px !important;
    position: relative;
    margin-bottom: 20px;
}

.alert-box img {
    max-width: 50px;
    float: left;
    margin-right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.alert-box p {
    position: relative;
    max-width: 80%;
    left: 70px;
}

#infobox img:not(.cross) {
    width: 100%;
    margin-bottom: 20px;
}

#infobox ol {
    list-style: none;
    counter-reset: item;
}

#infobox li {
    counter-increment: item;
    margin-bottom: 5px;
    font-size: 12px;
}

#infobox ol li:before {
    margin-right: 10px;
    content: counter(item);
    background: var(--accent);
    border-radius: 100%;
    color: white;
    padding: 3px;
    font-size: 12px;
    width: 1.2em;
    text-align: center;
    display: inline-block;
}

.info-dropdown-header {
    width: 100%;
    background: var(--accent);
    padding: 15px;
    color: #FFF;
    font-size: 17px;
    box-sizing: border-box;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}

.info-dropdown-content {
    padding: 10px;
    background: #f2f2f2;
    display: none;
    height: 0px;
    transition: .2s;
    opacity: 0;
}

ol.two-columns {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.info-dropdown-content.active {
    display: block;
    height: auto;
    opacity: 1;
}

.dropdown-arrow {
    width: 20px !important;
    position: absolute;
    right: 15px;
    transition: .2s;
    transform: rotate(180deg);
}

.dropdown-arrow.active {
    transform: rotate(0);
}


@media only screen and (max-width: 1030px) and (min-width: 769px) {

    #POI-video-container video {
        top: 0%;
        transform: translate(-50%, 0);
        width: 140%;
    }

    .POI.one {
        left: 82%;
        top: 46%;
    }

    .POI.two {
        left: 82%;
        top: 53%;
    }

    .POI.three {
        left: 65%;
        top: 41%;
    }

    .POI.four {
        left: 79%;
        top: 70%;
    }

    .POI.five {
        left: 45%;
        top: 54%;
    }





}











@media only screen and (max-width: 768px) and (min-width: 651px) {

    #POI-video-container video {
        top: 0%;
        transform: translate(-50%, 0);
    }

    #infobox {
        width: 100vw;
        height: 0;
        top: 26%;
        box-sizing: border-box;
    }

    #infobox.active {
        width: 100vw;
        height: 75%;
        top: 25%;
        box-sizing: border-box;
    }

    #infobox *:last-child {
        padding-bottom: 0;
    }

    .POI.one {
        left: 71%;
        top: 26%;
    }

    .POI.two {
        left: 72%;
        top: 34%;
    }

    .POI.three {
        left: 57%;
        top: 22%;
    }




}


@media only screen and (max-width: 650px) and (min-width: 481px) {
    .POI.one {
        left: 72%;
        top: 47%;
    }

    .POI.two {
        left: 72%;
        top: 54%;
    }

    .POI.three {
        left: 57%;
        top: 44%;
    }
}


@media only screen and (max-width: 480px) {

    nav {
        background-color: transparent !important;
    }

    .nav-active {
        background-color: #303030 !important;
    }

    #POI-video-container video {
        top: 0%;
        transform: translate(-50%, 0);
    }

    #infobox {
        width: 100vw;
        height: 0;
        top: 26%;
        box-sizing: border-box;
    }

    #infobox.active {
        width: 100vw;
        height: 75%;
        top: 25%;
        box-sizing: border-box;
    }

    #infobox *:last-child {
        padding-bottom: 0;
    }

    .POI.one {
        left: 70%;
        top: 10%;
    }

    .POI.two {
        left: 72%;
        top: 14%;
    }

    .POI.three {
        left: 57%;
        top: 8%;
    }

    .POI.four {
        left: 66%;
        top: 17%;
    }

    .POI.five {
        left: 43%;
        top: 13%;
    }




}



/* Fix til mobilen */


@media only screen and (max-width: 480px) {
    #hero {
        height: 100vh;
    }

    .herovid {
        height: 100vh;
        position: relative;
    }


    .herovid video {
        height: 100vh;
        min-width: 400%;
    }

    .hero-title {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-title img {
        width: 80%;
        height: inherit;
    }

    .hero-btn {
        top: inherit;
        bottom: 50px;
    }

    #product-drawings {
        height: 175vh;
    }

    .model-pic img {
        width: 100%;
    }

    #manual-section {
        margin-top: -50px;
        padding-bottom: 50px;
    }

    #cases {
        height: 192vh;
    }

    .case-text h3 {
        font-size: 20px;
    }

    .case {
        height: 60%;
    }


    #customers {
        height: 5vh;
    }


    .POI.faq {
        left: 30px;
        top: 30px;
    }

    .alert-box p {
        position: relative;
        max-width: 60%;
        left: 70px;
    }

}
