/* FUNDAMENTALS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
  }
  
  body {
    scroll-behavior: smooth;
    font-style: normal;
    line-height: 1.65;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
/* END OF FUNDAMENTALS */



/* NAV BAR */
nav {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 100vh;
    z-index: 2;
    background-color: #5CB720;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    transition: all 0.3s ease;
  }

  .burger {
    display: block;
    height: 100px;
    width: 400px;
    position: relative;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    color: #fff;
    font-weight: 600;
    top: 25px;
    margin-left: 15px;
  }

  .burger .line1,
  .burger .line2,
  .burger .line3 {
    width: 40px;
    height: 6px;
    background-color: #fff;
    border-radius: 1px;
    margin-top: 5px;
    margin-left: 15px;
  }

.nav-active .burger .line1,
.nav-active .burger .line2,
.nav-active .burger .line3 {
    width: 40px;
    height: 6px;
    background-color: #fff;
    border-radius: 1px;
    margin-top: 1px;
  }

.nav-active .menu {
    position: absolute;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s ease;
    top: 20px;
    margin-left: 15px;
  }

  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    left: -400px;
    height: 100vh;
    top: 17vh;
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 100%;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    font-size: 0.875rem;
    list-style: none;
  }

  .nav-links li {
    opacity: 0;
    width: 100%;
    transition: 0.2s;
    text-align: left;
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Roboto Condensed",sans-serif,arial;
    position: relative;
    top: -15px;
  }

  .nav-links li:hover {
    border-bottom: none;
  }

  .nav-links a {
    color: #fff;
    width: 100%;
    display: none;
    margin-left: 5%;
    margin-top: 30px;
    padding-bottom: 20px;
  }

  .nav-active {
    transform: translateX(0%);
    background-color: #303030;
    color: #fff;
    width: 400px;
  }

  .nav-active a {
    display: block;
  }

  .nav-active li:hover {
    background: rgba(219, 216, 216, 0.15);
  }

  .nav-links li:hover a {
    color: #303030;
    font-weight: 700;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
  }
/* END OF NAV BAR */




/* HERO SECTION */
#hero {
    height: 100vh;
    width: 100%;
}

.logo-line {
    height: 170px;
    width: 100%;
    z-index: 2;
    position: absolute;
}

.logo-line img {
    width: 110px;
    margin: 20px 0 0 20px
}

.herovid video{
    height: 105%;
    min-width: 100%;
    position: absolute;
}

.hero-title {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    margin-top: 50px;
}

.hero-title img {
    width: 450px;
    height: 450px;
}

.hero-btn {
    height: 60px;
    width: 400px;
    position: relative;
    margin: 0 auto;
    top: 510px;
}

.hero-button {
    height: 60px;
    width: 400px;
    border-radius: 30px;
    background-color: #5CB720;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 10px;
    cursor: pointer;
}

.hero-button:hover {
    font-weight: 600;
    background-color: #458a18;
}
/* END OF HERO SECTION */


/* PRODUCT DRAWING SECTION */
#product-drawings {
    height: 100vh;
    width: 100%;
    background-color: pink;
}
/* END OF PRODUCT DRAWING SECTION */

/* STYLEGUIDE */

/* END OF STYLEGUIDE */