* {
    margin: 0;
    font-family: 'roboto', sans-serif;
}

:root {
    --accent: #5cb720 !important;
}

video {
    width: 100%;
}

#POI-video-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
}


/* Point Of Interest */
.POI {
    height: 20px;
    width: 20px;
    border: 3px solid var(--accent);
    position: absolute;
    border-radius: 20px;
    transition: .2s;
    box-shadow: 0 0 10px var(--accent);
    cursor: pointer;
    background: rgba(255, 255, 255, 1);
    z-index: 2;
}

.POI:hover {
    background: var(--accent);
}

.POI:hover p {
    color: #FFF;
}

.POI p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: var(--accent);
    transition: .2s;
    font-weight: bold;
}

.POI.one {
    left: 70%;
    top: 46%;
}

.POI.two {
    left: 72%;
    top: 54%;
}

.POI.three {
    left: 60%;
    top: 41%;
}

.POI.four {
    left: 70%;
    top: 76%;
}

.POI.five {
    left: 46%;
    top: 56%;
}

.POI.hidden {
    opacity: 0;
}

#POI-video-container video {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#infobox {
    position: absolute;
    width: 30vw;
    opacity: 0;
    transition: 0.5s ease-in-out;
    background: #FFF;
    height: calc(100vh - 150px);
    padding: 75px;
    overflow-y: scroll;
    transform: translateX(-50vw);
}

#infobox.active {
    opacity: 1;
    transform: translateX(0);
}

#infobox span {
    font-family: 'Inconsolata', monospace;
    color: var(--accent);
    font-size: 30px;
}

#infobox h2 {
    margin-bottom: 25px;
}

#infobox p {
    color: #414141;
    font-size: 14px;
    line-height: 23px;
}

#infobox .cross {
    height: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

#infobox::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

#infobox::-webkit-scrollbar-track {
    background: #e6e6e6;
    /* color of the tracking area */
}

#infobox::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #e6e6e6;
    /* creates padding around scroll thumb */
}

.alert-box {
    background: #e6e6e6;
    padding: 10px;
    padding-bottom: 10px !important;
    position: relative;
}

.alert-box img {
    max-width: 50px;
    float: left;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.alert-box p {
    float: left;
    display: contents;
    position: relative;
    margin-right: 50px;
}

#infobox img:not(.cross) {
    width: 100%;
    margin-bottom: 20px;
}

#infobox ol {
    list-style: none;
    counter-reset: item;
}

#infobox li {
    counter-increment: item;
    margin-bottom: 5px;
    font-size: 12px;
}

#infobox ol li:before {
    margin-right: 10px;
    content: counter(item);
    background: var(--accent);
    border-radius: 100%;
    color: white;
    padding: 3px;
    font-size: 12px;
    width: 1.2em;
    text-align: center;
    display: inline-block;
}

.info-dropdown-header {
    width: 100%;
    background: var(--accent);
    padding: 15px;
    color: #FFF;
    font-size: 17px;
    box-sizing: border-box;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}

.info-dropdown-content {
    padding: 10px;
    background: #f2f2f2;
    display: none;
    height: 0px;
    transition: .2s;
    opacity: 0;
}

ol.two-columns {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.info-dropdown-content.active {
    display: block;
    height: auto;
    opacity: 1;
}

.dropdown-arrow {
    width: 20px !important;
    position: absolute;
    right: 15px;
    transition: .2s;
    transform: rotate(180deg);
}

.dropdown-arrow.active {
    transform: rotate(0);
}


@media only screen and (max-width: 1030px) and (min-width: 769px) {

    #POI-video-container video {
        top: 0%;
        transform: translate(-50%, 0);
        width: 140%;
    }

    .POI.one {
        left: 82%;
        top: 46%;
    }

    .POI.two {
        left: 82%;
        top: 53%;
    }

    .POI.three {
        left: 65%;
        top: 41%;
    }

    .POI.four {
        left: 79%;
        top: 70%;
    }

    .POI.five {
        left: 45%;
        top: 54%;
    }





}











@media only screen and (max-width: 768px) and (min-width: 480px) {

    #POI-video-container video {
        top: 0%;
        transform: translate(-50%, 0);
    }

    #infobox {
        width: 100vw;
        height: 0;
        top: 26%;
        box-sizing: border-box;
    }

    #infobox.active {
        width: 100vw;
        height: 75%;
        top: 25%;
        box-sizing: border-box;
    }

    #infobox *:last-child {
        padding-bottom: 0;
    }

    .POI.one {
        left: 70%;
        top: 10%;
    }

    .POI.two {
        left: 72%;
        top: 14%;
    }

    .POI.three {
        left: 57%;
        top: 8%;
    }

    .POI.four {
        left: 66%;
        top: 17%;
    }

    .POI.five {
        left: 43%;
        top: 13%;
    }




}





@media only screen and (max-width: 480px) {
    
    nav {
        background-color: transparent !important;
    }
    
    .nav-active {
        background-color: #303030 !important;
    }

    #POI-video-container video {
        top: 0%;
        transform: translate(-50%, 0);
    }

    #infobox {
        width: 100vw;
        height: 0;
        top: 26%;
        box-sizing: border-box;
    }

    #infobox.active {
        width: 100vw;
        height: 75%;
        top: 25%;
        box-sizing: border-box;
    }

    #infobox *:last-child {
        padding-bottom: 0;
    }

    .POI.one {
        left: 70%;
        top: 10%;
    }

    .POI.two {
        left: 72%;
        top: 14%;
    }

    .POI.three {
        left: 57%;
        top: 8%;
    }

    .POI.four {
        left: 66%;
        top: 17%;
    }

    .POI.five {
        left: 43%;
        top: 13%;
    }




}
